
.hopeTitle {
    z-index: 1000;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-size: clamp(1.6rem, 2.4vw, 4rem);
    font-weight: 400;
    cursor: pointer;

}



.menuToggleIcon {
    position: fixed;
    top: 20px;
    right: 34px;
    z-index: 2000;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.menuToggleIcon:hover {
    transform: scale(103%);
}

.menuOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transition: max-height 0.5s ease;
    background: #a69e90;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.15s;
    min-height: 100vh;
}

.menuOverlay.menuOpen {
    min-height: 100vh;
    transform: translateX(0);
}

.menuCont {
    padding: 7rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.menuItem {
    border-bottom: 1px solid white;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.menuItem:hover {
    color: black;
}

.siteTitleLink {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1500;
}


@media (min-width: 928px) {
    .menuOverlay {
        width: 33%;
        border-left: 1px solid white;

    }
    .hopeTitle:hover {
    color: #2E2823;
    transition: 100ms ease-in-out;
}
}

@media (max-width: 527px) {
    .hopeTitle {
      transform: none;
      left: calc((100% - 92%) / 2);
    }
}

@media (max-width: 768px) {
    .menuCont {
        padding: 6rem 2rem 4rem 2rem;
    }
    
}