/*HERO*/

:root {
    --blue: #85b3ff;
}

.heroCont {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

.heroImg {
    object-fit: cover;
    transform: scale(1.25);
    object-position: 50% 72%;
    transition: transform 0.3s ease;
}

/*INFO*/

.infoCont {
    width: 100%;
    height: 300px;
    background-color: #2E2823;
    position: relative;
    overflow: hidden;
}

.textCont {
    padding: 18px 20px;
}

.textCont p {
    color: white;
    line-height: 1.25;
    font-size: clamp(1.25rem, 3vw, 4rem);
}

/*SUBSCRIBE*/

.subscribeCont {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.formCont {
    border: solid 1px white;
    margin: 20px;
    margin-bottom: 28px;
    box-sizing: border-box;
}

.formInputCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subscribeCont:hover {
    transform: translateY(-2px);
    transition: ease-in 150ms;
}

.emailInput {
    color: white;
    padding: 2px 10px;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-width: 0;
}


.emailInput:focus {
    outline: none;
    box-shadow: none;
}

.subButton {
    flex-shrink: 0;
    padding: 2px 10px;
    box-sizing: border-box;
    border-left: solid 1px white;
    color: white;
    cursor: pointer;
}


.subButton:hover {
    background-color: var(--blue);
    transition: ease-in-out 150ms;
}

.emailInput::placeholder {
    color: white;
}

.subscribeCont {
    font-size: clamp(1.25rem, 1.5vw, 2rem) !important;
    color: white;
}

@media (max-width: 600px) {
    .heroCont {
        height: 75dvh;
    }

    .heroImg {
        object-fit: cover;
        object-position: 45% 30%;
        transform: scale(1.15);
    }
}