@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.page {
    width: 100vw;
    font-size: 1.5rem;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: #2E2823;
    background-color: #FFFEF9;
}

.line {
    position: relative;
    height: 6rem;
    width: 100%;
    z-index: 100;
}

.borderbox {
    box-sizing: border-box;
}


.pageContent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    margin-bottom: 3rem;
}

.pageTitle {
    font-size: 2rem;
}

.page h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
}


.retreat {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.retreatSubTitle {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;

}

.sectionTitle {
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
    font-family: "Marcellus", serif;
}

.retreatOffering {
    padding-top: 1rem;
    padding-bottom: .25rem;
    font-size: 2rem;
}

.retreatTitle {
    font-size: 3.5rem;
    padding-top: .75rem;
    line-height: 1.15;
    font-family: "Marcellus", serif;
}

.dates {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.marcellus {
    font-family: 'Marcellus', serif;
}

.infoBox {
    width: 50%;
    padding: 12px 20px;
    text-align: center;
    border: #2E2823 2px solid;
    border-radius: 6px;
    letter-spacing: .75;
    background-color: #2E2823;
    color: #fffefc;
}

.bigger {
    font-size: 1.25rem;
}

.biggest {
    font-size: 1.5rem;
}

.white-strip {
    background-color: white;
}

.brown-strip {
    background-color: #2E2823;
    color: #fffefc;
}

.retreat.subscribeLink {
    font-weight: bold;
}


.postTitle {
    display: block;
    padding: 10px;
}

.postTitle:hover {
    color: #85b3ff;
}

.post-hr {
    color: lightslategray;
}

.postPage-hr {
    color: lightslategray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postTitlePage {
    font-size: larger;
}

.subscribeLink {
    color: #85b3ff;
    font-weight: 500;
}

.subscribeLink:hover {
    color: #85b3ff;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #85b3ff;
}

.retreatButton {
    background-color: #2E2823;
    width: fit-content;
    padding: 9px 27px;
    border-radius: 28px;
    margin-top: .5rem;
    color: #FFFEF9;
    font-weight: bold;
    font-size: 1.25rem;
    border: #2E2823 1px solid;
    font-family: "Marcellus", serif;
}

.retreatButton:hover {
    color: #2E2823;
    background-color: #fffefc;
    transition: all 200ms ease-in-out;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.paragraphGap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul {
    list-style: circle;
}

li {
    margin-left: 1rem;
}


/*RSVP*/

.rsvpCont {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.rsvpCont .formCont {
    border: solid 1px brown;
    margin: 20px;
    box-sizing: border-box;
}

.rsvpCont .emailInput {
    color: brown;
    padding: 2px 10px;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-width: 0;
}

.rsvpCont .subButton {
    border-left: solid 1px brown;
    color: brown;
}

.rsvpCont .subButton:hover {
    background-color: brown;
}

.rsvpCont .emailInput::placeholder {
    color: brown;
}



/*fecundity*/

.decayHero {
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 101;
    position: relative;
    width: 100vw;
    height: 100vh;
    object-position: 50% 77%;
}

.retreatHero {
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 101;
    position: relative;
    width: 100%;
    height: auto;
    object-position: 50% 77%;
}


.halfPhoto {
    object-fit: cover;
    object-position: 50% 50%;
    height: auto;
    width: 100%;
}

.halfText,
.fullText {
    padding: 3rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
}

.instaPhoto {
    border: #2E2823 1px solid;
    border-radius: 6px;
}

.smaller {
    font-size: 1rem;
    padding-top: .5rem;
}

.webSpace {
    height: 50px;
}

h2,
h4,
h5 {
    font-family: "Marcellus", serif;
    margin-bottom: 3rem;
    line-height: normal;
}

h2 {
    font-size: 48px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 28px;
}

.bg-cream {
    background-color: #FFFEF9;
}

.bg-pink {
    background-color: #FFE7E0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.bigQuote {
    font-size: 42px;
    line-height: 1.5;
    font-family: "Marcellus", serif;
}

.threePhoto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 3rem;
}

ul {
    padding-left: 1rem;
}


.gridphoto {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.underline {
    text-decoration: underline;
}

.underline:hover {
    text-decoration: none;
}


@media (max-width: 1090px) {
    .decayHero {
        height: 70vw;
        transition: all 200ms ease-in-out;
        object-position: 50% 55%;
    }
}


@media (min-width: 928px) {
    .pageContent {
        width: 80vw;
    }
}

@media (max-width: 890px) {
    .webSpace {
        display: none;
    }

    .mobile-col {
        display: flex;
        flex-direction: column;
    }

    .row-reverse.mobile-col {
    flex-direction: column-reverse;
  }

    .halfText,
    .halfPhoto,
    .mobile-full {
         width: 100% !important;
    }


    .halfPhoto {
        height: auto !important;
    }

    .halfText,
    .fullText {
        padding: 2rem;
        padding-bottom: 3rem;
    }

    h2 {
        font-size: 40px;
    }

    body::before {
        content: "MOBILE ACTIVE";
        position: fixed;
        top: 0;
        left: 0;
        background: red;
        color: white;
        padding: 4px 8px;
        z-index: 9999;
    }

}

@media (max-width: 720px) {

    .halfPhoto {
        min-height: 66vh;
        height: 66vh;
    }

    .hideMobile {
        display: none;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile-smaller {
        font-size: 1.25rem;
    }

    .page {
        font-size: 1.25rem;
    }
}

@media (min-width: 551px) {
    .web-hide {
        display: none;
    }

}

@media (max-width: 550px) {

    .late-mobile-hide {
        display: none;
    }

    .late-mobile-half {
        width: 47% !important;
    }

    h5 {
        font-size: 22px !important;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 2rem;
    }

    h4 {
        font-size: 28px;
        margin-bottom: 2rem;
    }

    .bigQuote {
        font-size: 32px;
        line-height: 1.5;
        font-family: "Marcellus", serif;
    }

}